In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass

In [2]:
password=getpass.getpass()

········

In [3]:
connection_string='mysql+pymysql://root:'+password+'@127.0.0.1/sakila'

In [4]:
engine=create_engine(connection_string)

In [5]:
query_1 = '''
select i.film_id,
    round(avg(p.amount),2) avg_rental_cost,
    round(avg(timestampdiff(hour, r.rental_date, r.return_date)),2) as hours_rented,
     count(ifnull(r.rental_id, 0)) as num_rent_times
from rental r
join payment p on p.rental_id = r.rental_id
join inventory i on i.inventory_id = r.inventory_id
group by 1
order by 1,2,3,4;
'''
query_2 = '''
select
  act2.film_id,
  group_concat(act2.actor_id separator ',') actor_list,
  sum(act2.actor_fame) total_actor_fame,
  sum(act2.actor_influence) total_actor_influence
from (
  select fa.film_id, act1.*
    from (
      select
        fa1.actor_id,
        count(distinct(fa1.film_id)) actor_fame,
        count(distinct(fa2.actor_id)) actor_influence
        from
          film_actor fa1
          join film_actor fa2 on fa2.film_id = fa1.film_id
          group by fa1.actor_id
    ) act1
    join film_actor fa on fa.actor_id = act1.actor_id
) act2
group by act2.film_id;
'''
query_3 = '''
select  f.film_id,
       f.title,
     f.description,
     fc.category_id,
     f.language_id,
     avg(f.rental_duration) * 24  as avg_hours_rental_allowed,
     f.length / 60  as hours_length,
     avg(f.replacement_cost) as avg_replacement_cost,
     f.rating,
     f.special_features,
     count(fa.actor_id) actors_in_film
from film f
join film_category fc on fc.film_id = f.film_id
join film_actor fa on fa.film_id = f.film_id
group by 1,2,3,4,5,7,9,10
order by 1,4,5,6,7;'''

In [6]:
data_1=pd.read_sql(query_1,engine)
data_1

     film_id  avg_rental_cost  hours_rented  num_rent_times
0          1             1.60        119.45              23
1          2             7.56        135.17               7
2          3             3.16         82.75              12
3          4             3.99        113.64              23
4          5             4.32        170.00              12
..       ...              ...           ...             ...
953      996             0.99        110.29               7
954      997             2.82        133.17               6
955      998             1.66        142.38               9
956      999             4.34        132.53              17
957     1000             6.93        108.52              31

[958 rows x 4 columns]

In [7]:
data_2=pd.read_sql(query_2,engine)
data_2

,film_id,actor_list,total_actor_fame,total_actor_influence
0,1,"1,10,20,30,40,53,108,162,188,198",278.0,1108.0
1,2,"19,85,90,160",109.0,398.0
2,3,"2,19,24,64,123",136.0,541.0
3,4,"41,81,88,147,162",141.0,543.0
4,5,"51,59,103,181,200",141.0,492.0
...,...,...,...,...
992,996,"3,27,84,163,170",131.0,542.0
993,997,"23,37,124,155,198",169.0,615.0
994,998,"13,44,73,122,169,175",172.0,626.0
995,999,"52,66,104,140,142",151.0,537.0
996,1000,"155,166,178",76.0,313.0

In [8]:
data_3=pd.read_sql(query_3,engine)
data_3

,film_id,title,description,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,rating,special_features,actors_in_film
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6,1,144.0,1.4333,20.99,PG,"Deleted Scenes,Behind the Scenes",10
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11,1,72.0,0.8000,12.99,G,"Trailers,Deleted Scenes",4
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6,1,168.0,0.8333,18.99,NC-17,"Trailers,Deleted Scenes",5
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11,1,120.0,1.9500,26.99,G,"Commentaries,Behind the Scenes",5
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8,1,144.0,2.1667,22.99,G,Deleted Scenes,5
...,...,...,...,...,...,...,...,...,...,...,...
992,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,6,1,144.0,3.0500,9.99,G,"Trailers,Behind the Scenes",5
993,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,12,1,96.0,2.9833,14.99,NC-17,"Trailers,Behind the Scenes",5
994,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,11,1,144.0,1.7500,10.99,NC-17,Deleted Scenes,6
995,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,3,1,120.0,1.6833,28.99,R,"Trailers,Deleted Scenes",5
996,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5,1,72.0,0.8333,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",3

In [9]:
data_new=pd.merge(data_2,data_3,how='left',on='film_id')

In [10]:
df=pd.merge(data_new,data_1,how='left',on='film_id')

In [11]:
df.describe()

,film_id,total_actor_fame,total_actor_influence,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,actors_in_film,avg_rental_cost,hours_rented,num_rent_times
count,997.000000,997.000000,997.000000,997.000000,997.0,997.000000,997.000000,997.000000,997.000000,955.000000,955.000000,955.000000
mean,500.618857,154.539619,589.052156,8.465396,1.0,119.590772,1.919158,19.975958,5.478435,4.213141,119.788147,16.758115
std,288.937486,66.239341,256.909348,4.606183,0.0,33.827715,0.673097,6.048814,2.321712,1.817873,16.830381,6.682303
min,1.000000,18.000000,83.000000,1.000000,1.0,72.000000,0.766700,9.990000,1.000000,0.990000,45.860000,4.000000
25%,250.000000,109.000000,410.000000,5.000000,1.0,96.000000,1.333300,14.990000,4.000000,2.880000,109.250000,11.000000
50%,501.000000,147.000000,555.000000,8.000000,1.0,120.000000,1.900000,19.990000,5.000000,3.990000,120.430000,16.000000
75%,750.000000,199.000000,763.000000,13.000000,1.0,144.000000,2.483300,24.990000,7.000000,5.710000,130.250000,22.000000
max,1000.000000,440.000000,1710.000000,16.000000,1.0,168.000000,3.083300,29.990000,15.000000,8.670000,172.330000,34.000000

In [12]:
df.isnull().sum()

film_id                      0
actor_list                   0
total_actor_fame             0
total_actor_influence        0
title                        0
description                  0
category_id                  0
language_id                  0
avg_hours_rental_allowed     0
hours_length                 0
avg_replacement_cost         0
rating                       0
special_features             0
actors_in_film               0
avg_rental_cost             42
hours_rented                42
num_rent_times              42
dtype: int64

In [13]:
df.dropna(axis=0,inplace=True)

In [14]:
df.columns

Index(['film_id', 'actor_list', 'total_actor_fame', 'total_actor_influence',
       'title', 'description', 'category_id', 'language_id',
       'avg_hours_rental_allowed', 'hours_length', 'avg_replacement_cost',
       'rating', 'special_features', 'actors_in_film', 'avg_rental_cost',
       'hours_rented', 'num_rent_times'],
      dtype='object')

In [15]:
df

,film_id,actor_list,total_actor_fame,total_actor_influence,title,description,category_id,language_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,rating,special_features,actors_in_film,avg_rental_cost,hours_rented,num_rent_times
0,1,"1,10,20,30,40,53,108,162,188,198",278.0,1108.0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6,1,144.0,1.4333,20.99,PG,"Deleted Scenes,Behind the Scenes",10,1.60,119.45,23.0
1,2,"19,85,90,160",109.0,398.0,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11,1,72.0,0.8000,12.99,G,"Trailers,Deleted Scenes",4,7.56,135.17,7.0
2,3,"2,19,24,64,123",136.0,541.0,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6,1,168.0,0.8333,18.99,NC-17,"Trailers,Deleted Scenes",5,3.16,82.75,12.0
3,4,"41,81,88,147,162",141.0,543.0,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11,1,120.0,1.9500,26.99,G,"Commentaries,Behind the Scenes",5,3.99,113.64,23.0
4,5,"51,59,103,181,200",141.0,492.0,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8,1,144.0,2.1667,22.99,G,Deleted Scenes,5,4.32,170.00,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,996,"3,27,84,163,170",131.0,542.0,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,6,1,144.0,3.0500,9.99,G,"Trailers,Behind the Scenes",5,0.99,110.29,7.0
993,997,"23,37,124,155,198",169.0,615.0,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,12,1,96.0,2.9833,14.99,NC-17,"Trailers,Behind the Scenes",5,2.82,133.17,6.0
994,998,"13,44,73,122,169,175",172.0,626.0,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,11,1,144.0,1.7500,10.99,NC-17,Deleted Scenes,6,1.66,142.38,9.0
995,999,"52,66,104,140,142",151.0,537.0,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,3,1,120.0,1.6833,28.99,R,"Trailers,Deleted Scenes",5,4.34,132.53,17.0
996,1000,"155,166,178",76.0,313.0,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5,1,72.0,0.8333,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",3,6.93,108.52,31.0

In [16]:
df=df.drop(['language_id','title','description','special_features','actor_list','total_actor_fame','film_id'],axis=1)

In [17]:
df

,total_actor_influence,category_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,rating,actors_in_film,avg_rental_cost,hours_rented,num_rent_times
0,1108.0,6,144.0,1.4333,20.99,PG,10,1.60,119.45,23.0
1,398.0,11,72.0,0.8000,12.99,G,4,7.56,135.17,7.0
2,541.0,6,168.0,0.8333,18.99,NC-17,5,3.16,82.75,12.0
3,543.0,11,120.0,1.9500,26.99,G,5,3.99,113.64,23.0
4,492.0,8,144.0,2.1667,22.99,G,5,4.32,170.00,12.0
...,...,...,...,...,...,...,...,...,...,...
992,542.0,6,144.0,3.0500,9.99,G,5,0.99,110.29,7.0
993,615.0,12,96.0,2.9833,14.99,NC-17,5,2.82,133.17,6.0
994,626.0,11,144.0,1.7500,10.99,NC-17,6,1.66,142.38,9.0
995,537.0,3,120.0,1.6833,28.99,R,5,4.34,132.53,17.0
996,313.0,5,72.0,0.8333,18.99,NC-17,3,6.93,108.52,31.0

In [59]:
y=df['num_rent_times']

In [49]:
y=list(y)

In [19]:
X=df.drop('num_rent_times',axis=1)

In [20]:
x_cat=X['rating']

In [21]:
x_cat=pd.get_dummies(x_cat,drop_first=True).head()
x_cat

   NC-17  PG  PG-13  R
0      0   1      0  0
1      0   0      0  0
2      1   0      0  0
3      0   0      0  0
4      0   0      0  0

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
pd.DataFrame(OneHotEncoder(drop='first').fit_transform(x_cat).toarray(),
             columns=OneHotEncoder(drop='first').fit(x_cat).get_feature_names(input_features=x_cat.columns)).head()

   NC-17_1  PG_1
0      0.0   1.0
1      0.0   0.0
2      1.0   0.0
3      0.0   0.0
4      0.0   0.0

In [22]:
x_num=X.drop(['rating'],axis=1)
x_num

,total_actor_influence,category_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,actors_in_film,avg_rental_cost,hours_rented
0,1108.0,6,144.0,1.4333,20.99,10,1.60,119.45
1,398.0,11,72.0,0.8000,12.99,4,7.56,135.17
2,541.0,6,168.0,0.8333,18.99,5,3.16,82.75
3,543.0,11,120.0,1.9500,26.99,5,3.99,113.64
4,492.0,8,144.0,2.1667,22.99,5,4.32,170.00
...,...,...,...,...,...,...,...,...
992,542.0,6,144.0,3.0500,9.99,5,0.99,110.29
993,615.0,12,96.0,2.9833,14.99,5,2.82,133.17
994,626.0,11,144.0,1.7500,10.99,6,1.66,142.38
995,537.0,3,120.0,1.6833,28.99,5,4.34,132.53
996,313.0,5,72.0,0.8333,18.99,3,6.93,108.52

In [23]:
x_num=x_num.reset_index(drop=True)

In [24]:
x_num.columns

Index(['total_actor_influence', 'category_id', 'avg_hours_rental_allowed',
       'hours_length', 'avg_replacement_cost', 'actors_in_film',
       'avg_rental_cost', 'hours_rented'],
      dtype='object')

In [25]:
def nomarlize(x):
    x_mean=x.mean(axis=0)
    x_std=x.std(axis=0)
    x_std[x_std==0]=1
    x=(x-x_mean)/x_std
    return x

In [26]:
x_num=nomarlize(x_num)
x_num

,total_actor_influence,category_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,actors_in_film,avg_rental_cost,hours_rented
0,2.020124,-0.535702,0.734697,-0.726319,0.154873,1.948690,-1.437472,-0.020091
1,-0.753352,0.548646,-1.400096,-1.666157,-1.165692,-0.645639,1.841085,0.913934
2,-0.194751,-0.535702,1.446294,-1.616738,-0.175269,-0.213251,-0.579326,-2.200672
3,-0.186938,0.548646,0.023099,0.040480,1.145296,-0.213251,-0.122749,-0.365300
4,-0.386160,-0.101963,0.734697,0.362070,0.485014,-0.213251,0.058782,2.983406
...,...,...,...,...,...,...,...,...
950,-0.190844,-0.535702,0.734697,1.672915,-1.660904,-0.213251,-1.773029,-0.564345
951,0.094316,0.765515,-0.688499,1.573931,-0.835551,-0.213251,-0.766358,0.795101
952,0.137285,0.548646,0.734697,-0.256326,-1.495833,0.219137,-1.404466,1.342326
953,-0.210376,-1.186310,0.023099,-0.355311,1.475437,-0.213251,0.069784,0.757075
954,-1.085388,-0.752571,-1.400096,-1.616738,-0.175269,-1.078028,1.494526,-0.669512

In [38]:
X=pd.concat([x_num,x_cat],axis=1)
X

,total_actor_influence,category_id,avg_hours_rental_allowed,hours_length,avg_replacement_cost,actors_in_film,avg_rental_cost,hours_rented,NC-17,PG,PG-13,R
0,2.020124,-0.535702,0.734697,-0.726319,0.154873,1.948690,-1.437472,-0.020091,0.0,1.0,0.0,0.0
1,-0.753352,0.548646,-1.400096,-1.666157,-1.165692,-0.645639,1.841085,0.913934,0.0,0.0,0.0,0.0
2,-0.194751,-0.535702,1.446294,-1.616738,-0.175269,-0.213251,-0.579326,-2.200672,1.0,0.0,0.0,0.0
3,-0.186938,0.548646,0.023099,0.040480,1.145296,-0.213251,-0.122749,-0.365300,0.0,0.0,0.0,0.0
4,-0.386160,-0.101963,0.734697,0.362070,0.485014,-0.213251,0.058782,2.983406,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
950,-0.190844,-0.535702,0.734697,1.672915,-1.660904,-0.213251,-1.773029,-0.564345,NaN,NaN,NaN,NaN
951,0.094316,0.765515,-0.688499,1.573931,-0.835551,-0.213251,-0.766358,0.795101,NaN,NaN,NaN,NaN
952,0.137285,0.548646,0.734697,-0.256326,-1.495833,0.219137,-1.404466,1.342326,NaN,NaN,NaN,NaN
953,-0.210376,-1.186310,0.023099,-0.355311,1.475437,-0.213251,0.069784,0.757075,NaN,NaN,NaN,NaN
954,-1.085388,-0.752571,-1.400096,-1.616738,-0.175269,-1.078028,1.494526,-0.669512,NaN,NaN,NaN,NaN

In [41]:
X=X.fillna(0)

In [28]:
from sklearn.model_selection import train_test_split as tts

In [51]:
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.4)

In [52]:
import warnings
warnings.simplefilter('ignore')

In [53]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [54]:
X_train_wi=sm.add_constant(X_train)

In [55]:
model=sm.OLS(y_train,X_train_wi).fit()

In [56]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.027
Model:                            OLS   Adj. R-squared:                  0.010
Method:                 Least Squares   F-statistic:                     1.558
Date:                Fri, 06 Nov 2020   Prob (F-statistic):              0.116
Time:                        21:29:27   Log-Likelihood:                -1898.4
No. Observations:                 573   AIC:                             3819.
Df Residuals:                     562   BIC:                             3867.
Df Model:                          10
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       16.5472      0.282     58.682      0.000      15.993      17.101
total_actor_influence        1.9045      2.268      0.840      0.401      -2.550       6.359
category_id                 -0.2829      0.286     -0.990      0.322      -0.844       0.278
avg_hours_rental_allowed    -0.8549      0.310     -2.757      0.006      -1.464      -0.246
hours_length                -0.0144      0.280     -0.051      0.959      -0.565       0.536
avg_replacement_cost         0.3858      0.282      1.370      0.171      -0.167       0.939
actors_in_film              -2.1894      2.291     -0.956      0.340      -6.690       2.311
avg_rental_cost             -0.4679      0.310     -1.508      0.132      -1.077       0.141
hours_rented                 0.3625      0.285      1.274      0.203      -0.196       0.921
NC-17                       -2.9872      6.775     -0.441      0.659     -16.295      10.320
PG                           6.6131      6.757      0.979      0.328      -6.659      19.886
PG-13                             0          0        nan        nan           0           0
R                                 0          0        nan        nan           0           0
==============================================================================
Omnibus:                       28.756   Durbin-Watson:                   2.092
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.492
Skew:                           0.256   Prob(JB):                     0.000262
Kurtosis:                       2.346   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [60]:
from sklearn.linear_model import LinearRegression as LinReg

In [61]:
linreg=LinReg()

In [62]:
linreg.fit(X_train,y_train)

LinearRegression()

In [70]:
y_pred_linreg=linreg.predict(X_test)

In [65]:
from sklearn.linear_model import LogisticRegression

In [66]:
lr_model = LogisticRegression()

In [68]:
lr_model.fit(X_train,y_train)

LogisticRegression()

In [69]:
y_pred_lr=linreg.predict(X_test)
y_pred_lr

array([14.86613393, 16.85751383, 18.04143864, 15.29767584, 15.22575247,
       16.4549662 , 15.6815067 , 16.83699454, 16.16595598, 16.48932205,
       16.25266878, 16.66019512, 14.5266381 , 16.50244632, 16.81174289,
       16.31579176, 18.11639919, 16.89192566, 15.58960169, 16.5665357 ,
       18.94594899, 17.78456121, 16.9152237 , 17.13804397, 15.79925844,
       17.45077864, 17.86750912, 16.2383351 , 16.19974591, 18.05713028,
       17.40229298, 17.79871071, 16.83949011, 17.9550056 , 18.98905899,
       16.46835131, 16.79897441, 14.92380056, 17.14617356, 14.73729224,
       17.74906709, 15.82027344, 15.95811401, 17.2726958 , 15.5682821 ,
       15.37322734, 17.21431938, 15.24914333, 16.17969761, 18.05354742,
       15.53014729, 16.53309468, 18.89063236, 15.535659  , 15.00239406,
       13.8254174 , 18.84218816, 15.62259342, 16.55036591, 17.74904477,
       16.21221223, 18.18881628, 14.82249647, 16.30016148, 17.12883407,
       17.20850237, 15.43859556, 18.1427689 , 15.69714086, 16.30684745,
       18.03098085, 15.52200212, 14.59776128, 16.69342722, 17.76780181,
       16.47206437, 17.46134818, 17.9287852 , 14.97986266, 18.00434286,
       15.77331077, 16.82456042, 16.18319237, 17.15528134, 16.90763724,
       16.18919875, 16.06544447, 15.41322662, 17.71673717, 15.53610684,
       16.38996694, 15.70735027, 17.39718191, 17.26179716, 17.18240319,
       15.47421593, 15.70185041, 15.8139852 , 16.3183575 , 17.99170777,
       16.05350451, 18.09600385, 15.97795143, 15.96498184, 17.50527504,
       16.39275657, 19.64951091, 14.97590671, 16.18856958, 15.46455346,
       17.07730329, 17.44848757, 16.15684127, 17.07295844, 16.30580114,
       13.69210646, 17.25284709, 17.26821192, 16.91699364, 16.32696062,
       17.36510115, 16.4520736 , 17.45997917, 16.22371003, 17.32846869,
       16.07980346, 13.83221926, 14.75934349, 16.8991229 , 18.45651359,
       15.54230729, 15.18434195, 16.70592528, 18.311502  , 16.24877763,
       16.18454401, 15.96101242, 16.01602402, 16.57278691, 16.60954309,
       17.37026208, 17.21293318, 14.75262235, 17.26134383, 17.45346156,
       17.89310316, 16.08499828, 17.79110561, 17.65127887, 18.54299552,
       15.74802802, 16.07491696, 15.27690829, 15.08947317, 16.09285959,
       18.53769101, 16.9735739 , 16.18045341, 12.93047977, 15.42982555,
       16.75485814, 18.03555469, 16.139821  , 16.59133108, 14.88770062,
       17.21360072, 15.2803209 , 16.53732164, 15.08013963, 17.71939159,
       17.33532025, 17.01389158, 16.71716683, 17.31117512, 17.83849602,
       16.90233973, 17.43857169, 15.94965115, 16.49844519, 19.57898689,
       16.79491849, 15.09586193, 16.08027804, 13.53670702, 16.5305224 ,
       16.16100356, 15.94552808, 16.24505329, 17.01520367, 15.44605603,
       17.76182799, 16.58535633, 18.18058574, 15.66963828, 16.84269983,
       17.40318411, 17.12763058, 14.74417504, 17.42925319, 15.44688856,
       15.89874776, 16.43087147, 15.52288149, 16.95410814, 17.60754346,
       17.47589768, 15.41060916, 14.37475586, 15.94012023, 15.80025415,
       16.47786076, 18.5811415 , 15.14202669, 14.5186642 , 16.50986351,
       15.60122366, 17.9176859 , 14.16538064, 15.17872673, 16.93592558,
       18.1579551 , 18.49575664, 16.1868801 , 16.20305414, 14.4021589 ,
       16.16067188, 18.06043005, 16.79836413, 16.40525292, 17.24707796,
       17.12232838, 15.89084758, 15.75074155, 14.41992685, 16.84932059,
       17.20614385, 16.14744774, 17.23869564, 17.36139702, 16.34920398,
       17.30723154, 17.46816308, 17.03192555, 18.20444997, 18.25007157,
       15.93975029, 16.73441423, 16.98708461, 17.01271902, 18.49959417,
       16.16746665, 15.56693616, 17.69842803, 16.38928261, 18.19350918,
       16.77912485, 16.81912058, 16.91283687, 17.12122452, 17.32415561,
       15.13232994, 14.45691989, 16.54151451, 14.34619156, 17.08143003,
       17.74539577, 16.053317  , 14.37412279, 17.20657792, 16.76361416,
       17.96964718, 14.36841116, 16.49263914, 16.59329667, 17.6963351 ,
       16.89027103, 16.49684284, 18.75055334, 15.8370036 , 16.21967165,
       16.63130588, 17.88575939, 15.50442403, 19.11907195, 16.53824634,
       16.95889212, 14.99900832, 16.97026616, 17.66583122, 16.15878569,
       16.90271603, 15.89602772, 16.47707325, 14.73443118, 18.7923819 ,
       16.87815367, 16.31906737, 17.51942263, 15.83377114, 17.88774328,
       18.11460587, 16.89191363, 16.29625003, 17.21288735, 16.04086075,
       15.78477094, 16.82256976, 16.81873399, 16.09806959, 15.30807404,
       17.9650035 , 14.28513016, 17.56000216, 18.60967213, 15.97591074,
       15.10609593, 16.33359158, 17.23239825, 14.27084995, 15.72764629,
       16.8618975 , 16.30950546, 15.53680525, 16.13535054, 16.60897455,
       16.45973481, 16.72763285, 15.34442586, 15.64225566, 17.93884762,
       16.66092579, 16.16277711, 14.89928861, 15.59129253, 16.34120672,
       15.75029919, 15.95661045, 15.83133888, 15.10011917, 16.70701767,
       18.04126913, 16.94108896, 15.36029906, 17.19805777, 16.34442085,
       18.52203244, 16.14850838, 15.4124183 , 17.45145838, 17.93264223,
       14.67938047, 16.77589781, 17.40214689, 18.38422131, 18.49314444,
       18.4173187 , 15.89291187, 14.61168933, 14.97620567, 17.94290657,
       17.3047823 , 16.65133978, 15.4575048 , 16.82547584, 17.48434648,
       16.87874968, 16.02475395, 15.84839743, 16.28039829, 16.8356021 ,
       16.90615531, 18.47242779, 15.03598955, 16.93839431, 17.46820629,
       17.4829966 , 17.79789522, 17.07898237, 16.52638082, 14.37222162,
       15.75588264, 17.56540136])

In [72]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [73]:
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.4,random_state=0)

In [74]:
LR = LogisticRegression()
LR.fit(X_train,y_train)

LogisticRegression()

In [75]:
predict_results=LR.predict(X_test)
print(accuracy_score(predict_results, y_test))

0.02617801047120419

In [78]:
conf_mat = confusion_matrix(y_test, predict_results)
print(conf_mat)

[[0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [2 0 0 0 0 1 2 1 3 0 2 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [2 3 0 1 2 1 2 0 0 0 1 0 0 1 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 1 0 0 0 2 1 1 0 0 0 1 2 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0]
 [3 1 0 0 0 1 1 1 1 2 0 1 0 3 1 2 2 3 0 0 0 0 0 0 0 0 0 0 0]
 [1 1 0 1 1 0 2 0 0 1 1 0 2 1 0 0 3 2 0 1 0 0 1 0 0 0 0 0 0]
 [1 0 0 1 1 0 1 0 0 0 2 0 0 1 0 1 3 1 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 1 4 2 0 0 1 0 0 1 1 0 1 2 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 1 3 0 1 0 0 1 1 0 1 4 2 3 4 1 1 0 0 0 0 0 0 0 0 0 0]
 [2 3 0 0 1 1 2 0 2 2 0 0 0 2 2 1 1 1 0 1 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 1 2 0 0 1 1 0 1 4 0 0 1 2 2 0 0 0 1 0 0 0 0 0 0]
 [0 1 0 1 0 1 3 0 1 1 0 1 0 4 0 0 5 1 1 1 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 1 2 1 1 0 1 0 0 1 2 1 2 4 1 2 0 0 2 0 0 0 0 0 0]
 [0 0 1 0 1 1 2 1 0 0 1 2 2 1 1 0 4 2 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 1 0 2 0 0 1 0 0 7 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 1 1 3 0 0 0 0 1 0 0 2 1 2 1 1 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 1 1 0 4 0 1 1 0 5 2 0 2 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 2 0 1 2 0 1 0 0 0 0 0 1 1 1 2 2 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 2 0 0 0 0 3 0 1 0 1 3 0 2 0 0 2 2 0 0 0 0 0 0 0 0 0 0 0]
 [1 1 0 1 0 0 1 1 0 0 1 2 2 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0]
 [0 3 0 0 0 0 0 1 1 0 2 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 1 0 1 0 1 0 1 0 0 0 2 0 0 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 3 2 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 1 0 0 0 1 0 0 1 0 2 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 2 2 0 0 0 0 0 0 5 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]]

In [79]:
print(classification_report(y_test, predict_results))

              precision    recall  f1-score   support

         5.0       0.00      0.00      0.00         3
         6.0       0.00      0.00      0.00        13
         7.0       0.00      0.00      0.00        17
         8.0       0.00      0.00      0.00        12
         9.0       0.00      0.00      0.00        22
        10.0       0.00      0.00      0.00        18
        11.0       0.03      0.08      0.04        13
        12.0       0.00      0.00      0.00        14
        13.0       0.00      0.00      0.00        24
        14.0       0.20      0.10      0.13        21
        15.0       0.06      0.06      0.06        17
        16.0       0.06      0.05      0.05        21
        17.0       0.00      0.00      0.00        22
        18.0       0.03      0.05      0.04        20
        19.0       0.00      0.00      0.00        12
        20.0       0.07      0.07      0.07        15
        21.0       0.03      0.11      0.05        18
        22.0       0.00      0.00      0.00        13
        23.0       0.00      0.00      0.00        16
        24.0       0.12      0.08      0.10        13
        25.0       0.00      0.00      0.00        12
        26.0       0.00      0.00      0.00         9
        27.0       0.00      0.00      0.00         9
        28.0       0.00      0.00      0.00         3
        29.0       0.00      0.00      0.00         8
        30.0       0.00      0.00      0.00        11
        31.0       0.00      0.00      0.00         3
        32.0       0.00      0.00      0.00         2
        33.0       0.00      0.00      0.00         1

    accuracy                           0.03       382
   macro avg       0.02      0.02      0.02       382
weighted avg       0.03      0.03      0.02       382